<div>
    

    <form [formGroup]="jalonsForm" (ngSubmit)="createJalon($event)" style="padding:20px 0;">

      <div fxLayout="row" fxLayoutAlign="start center" >
        <md-input-container  fxFlex="20" [ngClass]="{'has-error':!jalonsForm.controls['name'].valid}">
          <input formControlName="name" mdInput placeholder="Nom du jalon" >
        </md-input-container>
        <div *ngIf="jalonsForm.controls['name'].hasError('required') " class="alert alert-danger">name required.</div>

        <md2-datepicker formControlName="date" fxFlex="20" [(ngModel)]="date" placeholder="date de fin du jalon" style="margin:0 0 26px 30px;"></md2-datepicker>

      </div>
      <div  fxLayout="row"  >
        
      </div>
      <div>
        <sm-select 
          [options]="{direction: 'upward', transition: 'vertical flip'}"
          [control]="jalonsForm.controls.list"
          (onChange)="onMultiple($event)"
          
          placeholder="Selectionner projets..." 
          class="fluid search multiple"
          >
          <option *ngFor="let projet of projets" [value]="projet.description">{{projet.nom}}</option>
        </sm-select>
      </div>

    
      <div fxLayout="row" fxLayoutAlign="end">
        
          <button (click)="callback.cancel()"  md-button>Annuler <i class="material-icons md-light ">clear</i></button>
        
        
          <button  type="submit" md-button>Valider <i class="material-icons md-light ">done</i></button>
        
      </div>
      
    </form>

</div>


