<div>
    

    <form [formGroup]="jalonsForm" (ngSubmit)="createJalon($event)" style="padding:20px 0;">

      <div fxLayout="row" fxLayoutAlign="start center" >
        <md-input-container  fxFlex="20">
          <input formControlName="name" mdInput placeholder="Nom du jalon" >
        </md-input-container>

        <md2-datepicker formControlName="date" fxFlex="20" [(ngModel)]="date" placeholder="date de fin du jalon" style="margin:0 0 26px 30px;"></md2-datepicker>

      </div>
      <div  fxLayout="row"  >
        <md-input-container  fxFlex="20" >
            <textarea  mdInput placeholder="Description du jalon"></textarea>
        </md-input-container>
      </div>
      <div>
        <sm-select 
          [options]="{direction: 'upward', transition: 'vertical flip'}"
          
          placeholder="Selectionner projets..." 
          class="fluid search multiple"
          >
          <option *ngFor="let projet of projets">{{projet.nom}}</option>
        </sm-select>
      </div>

    
      <div fxLayout="row" fxLayoutAlign="end">
        
          <button (click)="cancel()"  md-button>Annuler <i class="material-icons md-light ">clear</i></button>
        
        
          <button  type="submit" md-button>Valider <i class="material-icons md-light ">done</i></button>
        
      </div>
      
    </form>

</div>


