<div fxLayout="row" style="height:100%">

<div fxLayout="column"  fxFlex="15" fxLayoutAlign="start stretch" class="mat-elevation-z6" style="background-color:rgb(84, 144, 255);z-index:10;">

  <div fxLayout="row" fxLayoutAlign="center">
    <img [src]="'src/app/image/sharzilogo2w.png'" style="height:150px;width:150px;" />
  </div>

  <div >
    <md-nav-list >
      <md-list-item [routerLink]="['/homeEnseignant/projets']" >
        <h4 md-line >Projets</h4>
      </md-list-item>
    </md-nav-list>
  </div>
  <div>
    <md-nav-list  >
      <md-list-item [routerLink]="['/homeEnseignant/groupes']" >
        <h4 md-line>Groupes</h4>
      </md-list-item>
    </md-nav-list>
  </div>
  <div>
    <md-nav-list  >
      <md-list-item [routerLink]="['/homeEnseignant/notes']" >
        <h4 md-line>Notes</h4>
      </md-list-item>
    </md-nav-list>
  </div>
  <div>
    <md-nav-list  >
      <md-list-item [routerLink]="['/homeEnseignant/jalons']" >
        <h4 md-line>Jalons</h4>
      </md-list-item>
    </md-nav-list>
  </div>

</div>

  <div fxLayout="column" fxFlex >
    <md-toolbar class="mat-elevation-z2" style="background-color:rgb(84, 144, 255)">
      <span>Second Line</span>
      <span fxFlex></span>
      <md-icon class="example-icon">account_circle</md-icon>
    </md-toolbar>

    <div fxFlex fxLayout="column" fxLayoutAlign="start "  style="padding:0 50px">

    

     <h3 >Accueil Enseignant</h3>

     <router-outlet></router-outlet>


    </div>

  </div>

</div>