<div>
    
  <md-card class="example-card mat-elevation-z6">
    <div  style="position:relative;">
      <div fxLayout="row" fxLayoutAlign="end center" style="position:absolute;z-index:25;top:25px;right:1px;" >
        <button *ngIf="tabs.length <= 1"  (click)="addJalon()" md-button>Créer Jalon <i class="material-icons md-light ">add</i></button>
      <button *ngIf="tabs.length <= 1"  (click)="addProjet()" md-button>Créer Projet <i class="material-icons md-light ">add</i></button>

      </div>
    
    </div>

    
    <md-card-content>
      <md-tab-group dynamicHeight [(selectedIndex)]="selectedTab">
        <md-tab *ngFor="let tab of tabs" [label]="tab.title">
          <div [ngSwitch]="tab.type">
            <div *ngSwitchCase="'list'" style="max-height: 360px;padding: 10px 30px;overflow: auto;">
            
              <md-nav-list>
                <md-list-item *ngFor="let projet of listProjets"  >
                  <div fxFill  fxLayout="row" fxLayoutAlign="start center" style="padding:20px 0;">
                    <div fxFlex fxLayout="row"  fxLayoutAlign="start center" (click)="detailProjet(projet)">
                      <md-icon md-list-icon style="margin:10px" class="md-lightblue">folder</md-icon>
                      <div >
                        <div md-line>{{projet.nomP}}</div>
                        <div md-line> {{projet.date_finP | date}} </div>
                      </div>
                      <div fxFlex></div>
                    </div>
                    
                    <div fxLayout="row"  >
                      <button  (click)="editProjet()" mdTooltip="Modifier Projet" mdTooltipPosition="before" md-button> <i class="material-icons md-light ">tune</i></button>
                    </div>
                  </div>
                  <md-divider></md-divider>
                </md-list-item>
              </md-nav-list>
              
            </div>
            <div *ngSwitchCase="'creationProjet'">

              <app-ens-projet-create [callback]="callbacksFunctions"></app-ens-projet-create>

            </div>
            <div *ngSwitchCase="'creationJalon'">
              <app-ens-jalons-create [callback]="callbacksFunctions" [projets]="listProjets"  ></app-ens-jalons-create>
            </div>

            <div *ngSwitchCase="'detailProjet'">
              <app-ens-projet-details [callback]="callbacksFunctions" [jalons]="listJalons" [projet]="projetSelected"  ></app-ens-projet-details >
            </div>


          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>

</div>
