    <div>
        <table id="table" class="tabNotesSharzi">
            <tbody>
                <br/>
                <br/>
                <tr class="ligneTab">
                    <th class="colTab">GROUPE</th>
                    <th class="colTab" *ngFor="let item of createRange()"> JALON{{item}} </th>
                    <th class="colTab">PROJET</th>
                </tr>
                <tr class="ligneTab" *ngFor="let groupe of mydata[1]">
                    <td class="colTab"> {{groupe.nomG}} </td>
                    <ng-container *ngFor="let jalon_projet of mydata[3]; let item = index">
                        <td class="colTab" *ngIf="groupe.idProjetG == jalon_projet.idProjetJP"> {{jalon_projet.noteJP}}</td>
                    </ng-container>

                    <td class="colTab" *ngFor="let jalonRestant of nbJP(groupe.idProjetG)"></td>

                    <ng-container *ngFor="let projet of mydata[2]">
                        <td class="colTab" *ngIf="projet.idP == groupe.idProjetG"> {{projet.NoteP}} </td> 
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <br/>
    <br/>

        <p *ngIf="button" id="xportxlsx" class="xport"><input type="submit" value="Export to XLSX!" onclick="export_table_to_excel('table');"></p>
